%h1 Choose or change your team

.info
  %p User:
  = @user.username
.info
  %p Team:
  = @teams.find(@user.team_id).project_name

.info
  = render 'pickteam'

%h3 All teams

%table
  %thead
    %tr
      %th Project name
      %th Github repo
      %th Proposal
      %th Team members

      
  %tbody
    - @teams.each do |team|
      %tr
        %td= team.project_name
        %td= link_to(team.github_repo.match('g.*$')[0], team.github_repo)
        %td= link_to(team.proposal.match('/[^/]*$')[0], team.proposal)
        %td
          %ul
            - @team_members = @grouped_users.select { |k,v| k == team.id }
            - @team_members.each do |team_id, grouped|
              - grouped.each do |member|
                %li= member.username

%br

= link_to 'Edit Your Team', edit_team_path(@teams.find(@user.team_id))
= link_to 'New Team', new_team_path
