%h1 Listing teams

%table
  %thead
    %tr
      %th Project name
      %th Proposal
      %th Github repo
      %th
      %th
      %th
      
  %tbody
    - @teams.each do |team|
      %tr
        %td= team.project_name
        %td= team.proposal
        %td= team.github_repo
        %td= link_to 'Show', team
        %td= link_to 'Edit', edit_team_path(team)
        %td= link_to 'Destroy', team, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Team', new_team_path
\|
= link_to 'Return to summary', summary_path
