= form_for @example do |f|

  .field
    = f.label :description
    = f.text_field :description
  .field
    = f.label :url
    = f.text_field :url
  .field
    = f.label :recommendation_id
    = f.number_field :recommendation_id
  .actions
    = f.submit 'Save'

