%p#notice= notice

%p
  %h3 Recommendation:
  = @recommendation.recommendation
%p
  %h3 Font stack:
  = @recommendation.font_stack
%p
  %h3 Pull request url:
  = @recommendation.pull_request_url
%p
  %h3 Team:
  = @team.project_name

= link_to 'Edit', edit_recommendation_path(@recommendation)
\|
= link_to 'Back', recommendations_path

<hr />

%h3 Examples
%ul
  - if !@examples.empty?
    - @examples.each do |example|
      %li
        = example.description.nil? ? example.recommendation_id : example.description
        = link_to 'Edit example', edit_example_path(example.id)
        %ul
          %li
            %p URL
            = example.url.nil? ? 'none' : link_to( example.url , example.url)
          %li
            %p Attachment:
            - if !example.attachment.nil?
              = example.attachment.filename
              = link_to button_tag('Download'), download_attachment_path(example.attachment.id)
              = link_to button_tag('Destroy'), example.attachment, :method => :delete, :data => { :confirm => 'Are you sure?' }
            - else
              No attachment.
              = link_to button_tag('New Attachment'), new_attachment_path
            





