%p#notice= notice

%p
  %h3 Recommendation:
  = @recommendation.recommendation
%p
  %h3 Font stack:
  = @recommendation.font_stack
%p
  %h3 Pull request url:
  = @recommendation.pull_request_url
%p
  %h3 Team:
  = @team.project_name

= link_to 'Edit', edit_recommendation_path(@recommendation)
\|
= link_to 'Back', recommendations_path

<hr />

%h3 Examples
%ul
  - if !@examples.empty?
    - @examples.each do |example|
      %li
        = example.description.blank? ? example.recommendation_id : example.description
        = link_to 'Edit example', edit_example_path(example.id)
        %ul
          - if !example.example_url.blank?
            %li
              URL:
              = example.example_url.blank? ? 'None' : link_to(example.example_url.match('http[s]*://(.*[^/])/*')[0], example.example_url)
          - else
          %li
            %p Attachment:
            - if !example.attachment.nil?
              = example.attachment.filename
              = link_to button_tag('Download'), download_attachment_path(example.attachment.id)
            - else
              No attachment.
              = link_to button_tag('New Attachment'), new_attachment_path
            





