%h1 RecoFont
%h2 Font and type recommendations for &ldquo;COM 381 Web Application Development&rdquo;

%p#notice= notice


%h3 Member Info

.info
  %p
    User:
    = @user.username
.info
  %p
    Team:
    = @team.project_name
.info
  %p
    Repository:
    = @team.github_repo.nil? ? '.' : @team.github_repo.match('g.*$').nil? ? 'No URL' : link_to( @team.github_repo.match('g.*$')[0], @team.github_repo )
.info
  %p
    Proposal:
    = @team.proposal.nil? ? '.' : @team.proposal.match('/([^/]*$)').nil? ? 'No URL' : link_to( @team.proposal.match('/([^/]*$)')[1], @team.proposal )

%h3 Recommendations

.recommendation
  %p
    Style:
    =  @recommendation.nil? ? '.' : @recommendation.recommendation
.recommendation
  %p
    Font stack:
    = @recommendation.nil? ? '.' : @recommendation.font_stack
.recommendation
  %p
    Pull request url:
    = @recommendation.pull_request_url.nil? ? '.' : @recommendation.pull_request_url.match('^http').nil? ? @recommendation.pull_request_url : link_to( @recommendation.pull_request_url, @recommendation.pull_request_url)

%h3 Examples
%ul
  - if !@examples.empty?
    - @examples.each do |example|
      %li
        = example.description.nil? ? example.recommendation_id : example.description
        %ul
          %li
            %p
              URL
              = example.url.match('^http').nil? ? 'none' : link_to( example.url , example.url)
          %li
            %p
              Attachment:
              - if !example.attachment.nil?
                = example.attachment.filename
                = link_to button_tag('Download'), download_attachment_path(example.attachment.id)
              - else
                No attachment.
%nav
  = link_to( button_tag('Change or modify team'), '/change_teams' )
  = link_to( button_tag('Logout'), '/logout' )
