%p#notice= notice

%p
  %b Filename:
  = @attachment.filename
%p
  %b Mime type:
  = @attachment.mime_type
%p
  %b Example:
  = @attachment.example

= link_to button_tag('Back'), examples_path
\|
= link_to button_tag('Destroy'), @example.attachment, :method => :delete, :data => { :confirm => 'Are you sure?' }

<hr />

= image_tag serve_attachment_path(@attachment)
