= form_for @example do |f|
  - if @example.errors.any?
    #error_explanation
      %h2= "#{pluralize(@example.errors.count, "error")} prohibited this example from being saved:"
      %ul
        - @example.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :description
    = f.text_field :description
  .field
    = f.label :example_url
    = f.text_field :example_url
  - if @example.recommendation_id.nil?
    .field
      Associated recommendation’s team_ID
      = f.collection_select :recommendation_id, Recommendation.order('team_id'), :id, 'team_id', prompt: true
  - else
    = hidden_field(:example, :recommendation_id)
  .actions
    = f.submit 'Save'

