%h1 Listing examples

%table
  %thead
    %tr
      %th Link
      %th Description
      %th Attachment
      %th Recommendation
      %th
      %th
      %th

  %tbody
    - @examples.each do |example|
      %tr
        %td= example.url.nil? ? link_to('Download', example_download_path(example), disable_with: 'Downloading...') : link_to(example.url.match('[^/].+$',6)[0], example.url)
        %td= example.description
        %td= example.attachment.nil? ? 'none' : example.attachment.filename
        %td= example.recommendation_id
        %td= link_to 'Show', example
        %td= link_to 'Edit', edit_example_path(example)
        %td= link_to 'Destroy', example, :method => :delete, :data => { :confirm => 'Are you sure?' }
/       %td= link_to 'Download', item_download_path(example.file), disable_with: 'Downloading...'

%br

= link_to 'New Example', new_example_path
