%h1 Listing examples

%table
  %thead
    %tr
      %th Url
      %th File
      %th Description
      %th Recommendation
      %th
      %th
      %th
      
  %tbody
    - @examples.each do |example|
      %tr
        %td= example.url
        %td= example.file
        %td= example.description
        %td= example.recommendation_id
        %td= link_to 'Show', example
        %td= link_to 'Edit', edit_example_path(example)
        %td= link_to 'Destroy', example, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Example', new_example_path
