%p#notice= notice

%p
  %b Description:
  = @example.description
%p
  %b Url:
  = @example.url
%p
  %b Recommendation:
  = @example.recommendation_id
%p
  %b Attacment:
/  = @attachment.where("example_id = :example").nil? ? 'none' : @attachment.where("example_id = :example").first.filename

= link_to 'Edit', edit_example_path(@example)
\|
= link_to 'Back', examples_path
