%p#notice= notice

%p
  %b Description:
  = @example.description
%p
  %b Url:
  = @example.url
%p
  %b Recommendation:
  = @example.recommendation_id
%p
  %b Attacment:
  = @example.attachment_id.nil? ? 'none' : @example.attachment_id

= link_to 'Edit', edit_example_path(@example)
\|
= link_to 'Back', examples_path
