%p#notice= notice

%p
  %h3 ID:
  = @example.id
%p
  %h3 Description:
  = @example.description
%p
  %h3 Url:
  = @example.example_url
%p
  %h3 Recommendation ID:
  = @example.recommendation_id
%p
  %h3 Team ID:
  = @example.recommendation.team_id
%p
  %h3 Project name:
  = Team.find(@example.recommendation.team_id).project_name
%p
  %h3 Attachment:
  - if !@example.attachment.nil?
    = @example.attachment.nil? ? 'none' : @example.attachment.filename
    = link_to button_tag('Download'), download_attachment_path(@example.attachment.id)
    = link_to button_tag('Destroy'), @example.attachment, :method => :delete, :data => { :confirm => 'Are you sure?' }
  - else
    = link_to button_tag('Add attachment'), attach_to_example_path(@example.id)

= link_to 'Edit', edit_example_path(@example)
\|
= link_to 'Back', examples_path

<hr />

- if @example.attachment
  = image_tag serve_attachment_path(@example.attachment)
