%p#notice= notice

%p
  %h3 ID:
  = @example.id
%p
  %h3 Description:
  = @example.description
%p
  %h3 Url:
  = @example.url
%p
  %h3 Recommendation:
  = @example.recommendation_id
%p
  %h3 Attachment:
  = @example.attachment.nil? ? 'none' : @example.attachment.filename

= link_to 'Edit', edit_example_path(@example)
\|
= link_to 'Back', examples_path

<hr />

- if @example.attachment
  = image_tag serve_attachment_path(@example.attachment)
