%p#notice= notice

%p
  %b ID:
  = @example.id
%p
  %b Description:
  = @example.description
%p
  %b Url:
  = @example.url
%p
  %b Recommendation:
  = @example.recommendation_id
%p
  %b Attachment:
  = @attachment.nil? ? 'none' : @attachment.filename

= link_to 'Edit', edit_example_path(@example)
\|
= link_to 'Back', examples_path
